@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    background-color: #fafbff!important;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.left{
    margin-top: 10px;
    margin-left: 20px;
    
}
.cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.inCart{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 7, 7);
    color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: -18px;
    margin-top: -25px;
    margin-right: 20px;
}
.companyFullName{
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 700;
    margin-left: 70px;

    
    
}

#list{
    height: 30px;
    width: 30px;
    color: rgb(173, 170, 170);
    margin-right: 10px;
}

.right{
    margin-top: 10px;
    margin-right: 25px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F2937;
    background-color: #E5E7EB;
    width: 50px;
    height: 50px;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 15px;
   
}
.upperText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: rgb(173, 170, 170);
}
.TitleHeader{
    font-size: 4.6rem;
    line-height: 1.1;
    font-weight: 700;
}
.titleDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    height: 60px;
    width: 300px;
    border: 1px solid #fc5185;
    border-radius: 50px;
    background-color: #fc5185;
    color: #fff;
    cursor: pointer;
}
.guarantee{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#check{
    color: green;
}
.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(173, 170, 170);
}
#ServerMapText{
    font-size: 3.6rem;
    line-height: 1.1;
    font-weight: 700;
    
}
img{
    width: 100%;
}
.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(173, 170, 170) ;
}
#planChoice{
    font-size: 3.6rem;
    line-height: 1.1;
    font-weight: 700;
}

.plans{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 600px;
    width: 300px;
    border: 1px solid #fff;
    margin-bottom: 60px;
    margin-top: 20px;
    color: #1F2937;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform .5s ease;
}
.plan:hover{
    transform: scale(1.1);
}
.two{
    margin-left: 40px;
}
.three{
    margin-left: 40px;
}
.planHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    padding-left: 0px;
    list-style: none;
}
.PlanButton{
    height: 60px;
    width: 250px;
    margin-top: 30px;
    border: 1px solid #fc5185;
    border-radius: 50px;
    background-color: #fc5185;
    color: #fff;
    cursor: pointer;
}
.pb2{
    border: 1px solid rgb(2, 54, 2);
    background-color: rgb(2, 54, 2);
}
.pb3{
    border: 1px solid rgb(0, 119, 255);
    background-color: rgb(0, 119, 255);
}
.price{
    font-size: 2.6rem;
    line-height: 1.1;
    font-weight: 700;
}
.payMethod{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 10px;
}
.pay1{
margin-top: 85px;
}
.pay2{
margin-top: 45px;
}
a{
   margin-right: 20px; 
}
.addToCart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color:  #1F2937;
    color: #E5E7EB;
}
#cart{
    margin-left: 10px;
}
